                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
                        <a class="social-btn" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><img class="social-btn" src="assets/img/pwm-logo.png" /></a>
                        <a class="social-btn" href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer"><img class="social-btn" src="assets/img/ppm-logo.png" /></a>
                        <i class="social-btn" href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><img class="social-btn disabled" src="assets/img/pcm-logo.png" /></i>
                        <i class="social-btn" href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><img class="social-btn disabled" src="assets/img/sbus-logo.png" /></i>
                  </h3>
