                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
                        {% if site.twitter %}<a class="social-btn" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><img class="social-btn" src="assets/img/pwm-logo.png" /></a>{% endif %}
                        {% if site.facebook %}<a class="social-btn" href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer"><img class="social-btn" src="assets/img/ppm-logo.png" /></a>{% endif %}
                        {% if site.instagram %}<a class="social-btn" href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><img class="social-btn" src="assets/img/pcm-logo.png" /></a>{% endif %}
                        {% if site.tumblr %}<a class="social-btn" href="http://{{ site.tumblr }}.tumblr.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-tumblr-square"></i></a>{% endif %}
                        {% if site.github-url %}<a class="social-btn disabled" href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><img class="social-btn" src="assets/img/sbus-logo.png" /></a>{% endif %}
                  </h3>
